* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.attribution {
    display: none;
}