* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(hsl(225, 100%, 94%, 0.8), hsl(225, 100%, 94%, 0.8)) ,url(images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.order-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 20px;
    background-color: white;
}

.image-container-hero {
    width: 100%;
}

.image-container-hero img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.order-summary-text {
    padding-top: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.order-summary-text h1 {
    font-size: 1.3rem;
    color: hsl(223, 47%, 23%);
    margin: 20px;
}

.order-summary-text p {
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    margin: 20px;
}

.annual-plan-box {
    background-color: hsl(225, 100%, 98%);
    width: 320px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container-music-icon {
    width: 40px;
    display: inline-block;
    line-height: 0%;
}

.image-container-music-icon img {
    width: 100%;
}

.annual-plan-left-box {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.annual-plan-left-box h2 {
    font-size: 0.9rem;
}

.annual-plan-left-box p {
    font-size: 0.8rem;
    color: hsl(224, 23%, 55%);
}

.text-change {
    font-weight: 900;
    font-size: 0.8rem;
}

.text-change a {
    color: hsl(245, 75%, 52%);
}

.text-change a:hover {
    text-decoration: none;
}

.button-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

button {
    text-align: center;
    width: 320px;
    margin: 10px 0;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.button-1 {
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 10px 15px 10px hsl(245, 75%, 52%, 0.2);
    z-index: 2;
}

.button-1:hover {
    background-color: hsl(245, 100%, 70%);
}

.button-2 {
    background-color: white;
    margin-bottom: 30px;
    color: hsl(224, 23%, 55%);
}

.button-2:hover {
    color: black;
}

.attribution {
    display: none;
}

/* Phone */

@media screen and (max-width: 480px) {
    .order-card {
        width: 200px;
        border-radius: 20px;
    }

    .image-container-hero img {
        border-radius: 10px 10px 0 0;
    }

    .order-summary-text {
        padding-top: 10px;
        width: 150px;
    }

    .order-summary-text h1 {
        font-size: 0.7rem;
        margin: 10px;
    }
    
    .order-summary-text p {
        font-size: 0.5rem;
        margin: 10px;
    }

    .annual-plan-box {
        width: 160px;
        border-radius: 5px;
        padding: 10px;
    }

    .image-container-music-icon {
        width: 20px;
    }

    .annual-plan-left-box {
        width: 70px;
    }
    
    .annual-plan-left-box h2 {
        font-size: 0.5rem;
    }
    
    .annual-plan-left-box p {
        font-size: 0.4rem;
    }
    
    .text-change {
        font-weight: 900;
        font-size: 0.4rem;
    }
    
    .button-box {
        padding: 5px 0;
    }
    
    button {
        width: 160px;
        margin: 5px 0;
        padding: 8px 0;
        border-radius: 5px;
        font-size: 0.5rem;
    }
    
    .button-1 {
        box-shadow: 0 5px 8px 5px hsl(245, 75%, 52%, 0.2);
    }
    
    .button-2 {
        margin-bottom: 15px;
    }

}